.title {
    text-align: center;
    color: #b6a568;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 20px;
    letter-spacing: 3px; 
}
.title h2 {
    font-size: 45px;
    color: #000f38;
    margin-top: 10px;
    text-transform: none;
    letter-spacing: 2px; 
}